{%extends "main.html"%}
{% block login %}

        <form action = "/auth/login/" method ="post">
            <p><b>Логін:</b><br>
  <input type="text" size="40" required name="username" id = "username">
 </p>

 <p><b>Пароль:</b>
 <input type="password" size="40" required name = "password" id = "password">
 </p>
            <input class = "button" type = "submit" value = "Вхід">
            <div class = "label round secondary"><a href  = "/auth/register">Реєстрація</a></div>
        </form>
        {%endblock%}